# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Dependencies
node_modules
.pnpm-store

# Build artifacts
dist
coverage

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Fly.io
fly.toml

# Env
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea
.vscode
